@import "_reset";
@import "_variables";

body {
  height: 100vh;
  background: $main_color;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}